---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';

const { slug } = Astro.params

let wp_post = await fetch(`${import.meta.env.PUBLIC_WP_HOST}/wp-json/wp/v2/posts?slug=${slug}`)
let [post] = await wp_post.json()

export async function getStaticPaths() {
	let data = await fetch(`${import.meta.env.PUBLIC_WP_HOST}/wp-json/wp/v2/posts`)
	let posts = await data.json()

	return posts.map((post: any) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
---

<html lang="en">
	<head>
		<BaseHead title={post.title.rendered} description={post.content.rendered} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h1>{post.title.rendered}</h1>
						<div class="date">
							{
								post.date && (
									<div class="last-updated-on">
										Last updated on {post.date}
									</div>
								)
							}
						</div>
						<hr />
					</div>
					<div set:html={post.content.rendered} />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
